*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./image/cool-background.png) ;
    background-size: cover;
    background-position: center;
}

.logo{
    display: flex;
    justify-content: center;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.head{
    width: 50%;
    padding: 1.65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


